body{
    background:linear-gradient(90deg,#780206,#061161);
    
}
 #playername, #playername2 {
   
    margin: 10px;
    
    padding: 15px 45px;
    border: 5px solid;
   display: block;
   width:14em;
 }        
.btn-grad {
    
    margin-left: 40%;
    background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
div.area1{
    
flex-direction: column;
    display: inline;
   background-color: white;
    width: 100%;
    
}
div.pl1{

  grid-template-columns: auto auto auto;
    background-color: #2e2e2e;
   width: 20%;
   margin: 10%;
   margin-left: 25%;
   border-radius: 15px;
   border: 3px solid white;
   
   
}

header{
  width: 100%;
  height: 20%;
  font-family: 'Anton', sans-serif;
  font-size: 300%;
  text-align: center;
  background-color: chocolate;

}

div.pl2{


    background-color: #2e2e2e;
   width: 20%;
   margin: 10%;
   margin-left: 25%;
   border-radius: 15px;
   border: 3px solid white;
}
div.separator{
  width: 100%;height: 10%;
  background-color: #00dbde;
  font-size: 50px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  
}

p{
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto ;

}
div.comp{
  width: 20%;
  height: 10%;
  background-color: #00dbde;
}